<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Complete Node.js Course</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="/images/myCloud.png">


</head>

<body>
    <div id="mainDiv">
        {{>header}}
        <img id="myPic" src="/images/bsdDaemon02y.png"><br>
        <p>This is where we would put interesting tidbits about ourselves.</p>
        <p>Latitude and Longitude data provided by <a href="https://www.mapbox.com">Mapbox.</a></p>
        <p>Weather data provided by <a href="https://www.darksky.com">Darksky.</a></p>
        <p>Application runs on <a href="https://www.nodejs.org">Node.</a></p>
        <p>Application logic uses server side and client side processing with <a href="https://www.expressjs.com">Express.js</a></p>

    </div>
    {{>footer}}
</body>

</html>