<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1" />
   <title>The Complete Node.js Course</title>
   <link rel="stylesheet" type="text/css" href="css/main.css">
   <link rel="icon" href="/images/myCloud.png">
   
</head>
<body>
    <div id="mainDiv">
    {{>header}}
    <p> 
        This got kinda messy as I just kept adding on different means of getting the data to the browser
        and different means of showing it. All in all it works but, again, is a bit messy. Lots of code 
        doing the same thing but that is, kinda, the idea behind practicing different ways of doing it.
        <br>
        His code is available in 'webServerHis' and can be started with node the same as this. His API
        keys have been changed.
    </p>
</div>

    <script src="/js/main.js"></script>
{{>footer}}
</body>
</html>