<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Complete Node.js Course</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="icon" href="/images/myCloud.png">


</head>

<body>
    <div id="mainDiv">
        {{>header}}
        <p class="cntr" id="summP"></p>




        
    </div>
    {{>footer}}
    <input id="hiddenCity" type="hidden" value="{{city}}">
    <script src="http://localhost/js/jquery-3.4.1.js"></script>
    <script src="/js/weatherFetch.js"></script>
</body>

</html>