<h1>{{title}}</h1>
<h2>Brought to you by {{author}}</h2>

<table id="linksDiv">
    <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/weather">Forecast</a></td>
        <td><a href="/weatherF?city=boston">Forecast(fetch)</a></td>
        <td><a href="/weatherHis">Forecast(his code/sorta)</a></td>
        <td> <a href="/help">Help</a></td>
        <td><a href="/about">About</a></td>
    </tr>
</table>
    
    
    
